/target
/lib
/classes
/checkouts
/resources/public/css/bootstrap.min.css
/resources/public/css/bootstrap.min.css.map
/resources/public/css/bootstrap4-toggle.min.css
/resources/public/css/reagent-forms.css
/resources/public/js
pom.xml
client_secrets.json
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.token
youtubeuploader
request.token